[submodule "lua"]
	path = lua
	url = https://github.com/citizenfx/lua.git
	branch = luaglm-548
[submodule "vendor/msgpack-c"]
	path = vendor/msgpack-c
	url = https://github.com/msgpack/msgpack-c.git
[submodule "vendor/rapidjson"]
	path = vendor/rapidjson
	url = https://github.com/miloyip/rapidjson.git
[submodule "vendor/lua-cmsgpack"]
	path = vendor/lua-cmsgpack
	url = https://github.com/citizenfx/lua-cmsgpack.git
	branch = grit
[submodule "vendor/lua-rapidjson"]
	path = vendor/lua-rapidjson
	url = https://github.com/citizenfx/lua-rapidjson.git
	branch = grit
